@{

	Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<!-- banner section -->
	<section id="home" class="w3l-banner py-5">
		<div class="container py-lg-5 py-md-4 mt-lg-0 mt-md-5 mt-4">
			<div class="row align-items-center py-lg-5 py-4 mt-4">
				<div class="col-lg-6 col-sm-12">

					<section>
						
						<div>
							<p>
								© 2024 BurgerGurme. Tüm hakları saklıdır | Design by <br />
								<a href="https://www.linkedin.com/in/burak-gonca/">Burak Gonca</a> |
								<a href="https://www.linkedin.com/in/benguurgendemir/">Bengü Ürgen Demir</a> |
								<a href="https://www.linkedin.com/in/ilgin-deniz-ayaz/">Ilgın Deniz Ayaz</a>

							</p>
						</div>
					</section>

				</div>
				<div class="col-lg-5">
				</div>
			</div>
		</div>
	</section>
	<!-- //banner section -->
	<!-- Main Content -->


</body>
</html>
