@model BurgerProject.Areas.Admin.Models.ExtraViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Extra</title>
</head>
<body>


    <h3>Extra Edit</h3>
    <hr />
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">

                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ExtraName" class="control-label">@Html.DisplayNameFor(m => m.ExtraName)</label>
                        <input asp-for="ExtraName" class="form-control" />
                        <span asp-validation-for="ExtraName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExtraPrice" class="control-label">@Html.DisplayNameFor(m => m.ExtraPrice)</label>
                        <input asp-for="ExtraPrice" class="form-control" />
                        <span asp-validation-for="ExtraPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="LogoFile" class="control-label">Logo File</label>
                        <input type="file" name="LogoFile" id="LogoFile" class="form-control-file" accept="image/png" />
                        <span asp-validation-for="LogoFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}