<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BurgerGurme-Admin Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/images/favicon.png">
    <link rel="stylesheet" href="~/admin/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/admin/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="~/admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">



</head>

<body>


    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a asp-action="Index" class="brand-logo">
                <img class="logo-abbr" src="~/admin/images/admin2.png" alt="">
                <img class="logo-compact" src="~/admin/images/logo-text.png" alt="">
                <img class="brand-title" src="~/admin/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>

                
            </div>

          
            
        </div>
       
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                    </div>
                </nav>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <strong>Siteye Dönüş</strong>
                </a>
            </div>
        </div>
        
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">İşlemler</li>

                    <li>
                        <a asp-controller="Menu" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-layout-25"></i><span class="nav-text">Burger Menüleri</span>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Extra" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-layout-25"></i><span class="nav-text">Extra Malzemeler</span>
                        </a>
                    </li>

                    <li>
                        <a href="widget-basic.html" aria-expanded="false">
                            <i class="icon icon-layout-25"></i><span class="nav-text">Müşteriler</span>
                        </a>
                    </li>

                    <li>
                        <a href="widget-basic.html" aria-expanded="false">
                            <i class="icon icon-layout-25"></i><span class="nav-text">Siparişler</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>


       <div class="content-body">
			<div class="container-fluid">
				@RenderBody()
			</div>
		</div>



        <!-- Required vendors -->
        <script src="~/admin//vendor/global/global.min.js"></script>
        <script src="~/admin//js/quixnav-init.js"></script>
        <script src="~/admin//js/custom.min.js"></script>


        <!-- Vectormap -->
        <script src="~/admin/vendor/raphael/raphael.min.js"></script>
        <script src="~/admin/vendor/morris/morris.min.js"></script>


        <script src="~/admin/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/admin/vendor/chart.js/Chart.bundle.min.js"></script>

        <script src="~/admin/vendor/gaugeJS/dist/gauge.min.js"></script>

        <!--  flot-chart js -->
        <script src="~/admin/vendor/flot/jquery.flot.js"></script>
        <script src="~/admin/vendor/flot/jquery.flot.resize.js"></script>

        <!-- Owl Carousel -->
        <script src="~/admin/vendor/owl-carousel/js/owl.carousel.min.js"></script>

        <!-- Counter Up -->
        <script src="~/admin/vendor/jqvmap/js/jquery.vmap.min.js"></script>
        <script src="~/admin/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
        <script src="~/admin/vendor/jquery.counterup/jquery.counterup.min.js"></script>


        <script src="~/admin/js/dashboard/dashboard-1.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)




</body>

</html>