@{
	ViewData["Title"] = "Hakkımızda";
}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	<!-- banner section -->
	<section id="home" class="w3l-banner py-5">
		<div class="container py-lg-5 py-md-4 mt-lg-0 mt-md-5 mt-4">
			<div class="row align-items-center py-lg-5 py-4 mt-4">
				<div class="col-lg-6 col-sm-12">
					

						<section>
							<h2>Hakkımızda</h2>
							<p>BurgerGurme, lezzet dolu bir yolculuğa davet ediyor. Her lokmada tat ve keyif bulacağınız, damak zevkinize hitap eden özenle hazırlanmış burgerlerimizle sizi bekliyoruz. Müşterilerimizin memnuniyeti ve sağlığı bizim önceliğimizdir. Bu nedenle, en kaliteli ve doğal malzemelerle, hijyen standartlarına uygun olarak üretim yapıyoruz.</p>
						</section>

						


				</div>
				<div class="col-lg-5">
				</div>
			</div>
		</div>
	</section>
	<!-- //banner section -->
	<!-- Main Content -->
	

</body>
</html>
