@{
	ViewData["Title"] = "İletişim";
}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	<!-- banner section -->
	<section id="home" class="w3l-banner py-5">
		<div class="container py-lg-5 py-md-4 mt-lg-0 mt-md-5 mt-4">
			<div class="row align-items-center py-lg-5 py-4 mt-4">
				<div class="col-lg-6 col-sm-12">


					<section>
						<h2>İletişim Bilgilerimiz</h2>
						<p class="mt-lg-4 mt-3 mb-4 pb-lg-2">
							Lezzetin Adresi BurgerGurme, misafirlerimizin en iyi deneyimini yaşaması için titizlikle çalışmaktadır. Sağlığınız ve güvenliğiniz bizim için önemlidir.
						</p>
						<div class="footer-text mt-4">
							<p>
								<strong>Adres :</strong> BurgerGurme, Atatürk Caddesi     Çankaya/Ankara
							</p>
							<p class="my-2"><strong>Telefon :</strong> <a href="tel:03120000000">0312 000 00 00</a></p>

						</div>
						<div >
							<p>
								© 2024 BurgerGurme. Tüm hakları saklıdır | Design by <br />
								<a href="https://www.linkedin.com/in/burak-gonca/">Burak Gonca</a> |
								<a href="https://www.linkedin.com/in/benguurgendemir/">Bengü Ürgen Demir</a> |
								<a href="https://www.linkedin.com/in/ilgin-deniz-ayaz/">Ilgın Deniz Ayaz</a>

							</p>
						</div>
					</section>




				</div>
				<div class="col-lg-5">
				</div>
			</div>
		</div>
	</section>
	<!-- //banner section -->
	<!-- Main Content -->


</body>
</html>
